.header {
 background-color: #f1f2f6;
padding: 3px;
}

.body {
    padding: 10px;
    padding-left: 15px;
}


.tarjeta {
 width: 160px;
margin-bottom: 15px;
font-size: 13px;

}

.tiket {

font-size: 12px;

}

todo

{

font-size: 12px;

}