.colm{

	background:#ffffff;
	padding: 20px;
	margin-top: 10px;
	border-radius: 10px;

}

img{
border-radius: 10px;
background:#ffffff;
}

.fmg{

	background:#f1f2f6;
	padding: 20px;
	margin-top: 53px;
}





h4{
text-align: left;
padding: 2px;

}


